
<mat-toolbar>
  <span></span>
  <span>Задачи</span>
  <mat-icon style="transform: scale(1.3);" (click)="openDialog()">add</mat-icon>
</mat-toolbar>

<div class="cards">
  <div class="card" *ngFor="let cat of categories">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{cat.title}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="todo" *ngFor="let todo of cat.todos; let i = index">
          <mat-checkbox color="primary"
                        [checked]="todo.isCompleted"
                        (change)="toggleTodo(cat, i)"
          ></mat-checkbox>
          <div class="text">
            <span [ngClass]="{striked: todo.isCompleted}"
            >{{todo.text}}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
